<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceOrderWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BikeDistributorWCF/ServiceOrderWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOrderWCF"
                contract="ServiceReferenceOrder.IServiceOrderWCF" name="BasicHttpBinding_IServiceOrderWCF" />
        </client>
    </system.serviceModel>
</configuration>